<html>
  <body>
    <h1>Popular Channels in the 2020s</h1>
    <h2>SELECT channel_title, COUNT(video_id) AS cnt<br>
      FROM workout.Workout_Video_Trainer NATURAL JOIN workout.Channels<br>
      WHERE video_viewCount > 1000000 AND publish_date LIKE "202%"<br>
      GROUP BY channel_id<br>
      ORDER BY cnt DESC<br>
      LIMIT 15;<br>
    </h2>

    <table border="1">
      <tr>
        <th>Channel Title</th>
        <th>Video Count</th>
      </tr>
      {% for x in queryset %}
      <tr>
        <td><a href="https://www.youtube.com/channel/{{ x.channel_id}}">{{ x.channel_title }}</a></td>
        <td>{{ x.cnt }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>